{% extends "admin/change_list.html" %}
{% load i18n admin_static %}

{% block object-tools-items %}
{{ block.super }}
<li>
    <a href="{% url 'admin:download_users_database' %}"
       class="btn btn-high btn-success">Exportar usuários</a>
</li>
<li>
    <a href="{% url 'admin:download_congress' %}"
       class="btn btn-high btn-success">Exportar lista de inscritos</a>
</li>
{% endblock %}
