<!DOCTYPE html>
<html>
{% load i18n %}
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

  <title>{% block title %}{{ site.name }}{% endblock %}</title>

  <link rel='stylesheet' type='text/css' href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css"  href="https://unpkg.com/bootstrap@3.3.6/dist/css/bootstrap.min.css" />
  <!--<link rel='stylesheet' href="{% static 'angular-loading-bar/src/loading-bar.css' %}" type='text/css' media='all' />-->
  <!-- <link rel='stylesheet' href="http://ava.paralapraca.org.br/static/CACHE/css/05aed522de7f.css" type='text/css' media='all' /> -->
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/ui-select@0.19.4/dist/select.min.css" />
  <link rel="stylesheet" type="text/css"  href="/styles.bundle.css" />
  <script>
        window.STATIC_URL = '{{ STATIC_URL }}';
        window.MEDIA_URL = '{{ MEDIA_URL }}';
  </script>

  <!-- All -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/jquery@1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/bootstrap@3.3.6/dist/js/bootstrap.min.js"></script>
  <!--<script type="text/javascript" src="{% static 'js/consolelogfallback.js' %}"></script>-->
  <!--<script type="text/javascript" src="{% static 'js/contact_form.js' %}"></script>-->
  <!--<script type="text/javascript" src="{% static 'js/helpers.js' %}"></script>-->

  <!-- Angular -->
  <script type="text/javascript" src="https://unpkg.com/angular@1.5.6/angular.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/angular-animate@1.5.6/angular-animate.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/angular-resource@1.5.6/angular-resource.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/angular-route@1.5.6/angular-route.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/angular-sanitize@1.5.6/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/angular-touch@1.5.6/angular-touch.min.js"></script>
  <!--<script type="text/javascript" src="https://unpkg.com/angular-bootstrap@0.12.2/ui-bootstrap.min.js"></script>-->
  <script type="text/javascript" src="https://unpkg.com/angular-ui-bootstrap@2.5.6/dist/ui-bootstrap-tpls.js"></script>
  <script type="text/javascript" src="https://unpkg.com/angular-local-storage@0.7.1/dist/angular-local-storage.min.js"></script>

  <!--<script type="text/javascript" src="{% static 'angular-cookies/angular-cookies.js' %}"></script>-->
  <!--<script type="text/javascript" src="{% static 'angular-gettext/dist/angular-gettext.js' %}"></script>-->
  <!--<script type="text/javascript" src="{% static 'angular-i18n/angular-locale_pt-br.js' %}"></script>-->

  <!-- Angular Timtec -->
  <!--<script type="text/javascript" src="{% static 'js/django.js' %}"></script>-->
  <!--<script type="text/javascript" src="{% static 'js/truncate.js' %}"></script>-->

  <!--<script type="text/javascript" src="{% static 'js/vendor/pagedown/Markdown.Converter.js' %}" charset="utf-8"></script>-->
  <!--<script type="text/javascript" src="{% static 'js/vendor/pagedown/Markdown.Editor.js' %}" charset="utf-8"></script>-->
  <!--<script type="text/javascript" src="{% static 'js/vendor/pagedown/Markdown.Sanitizer.js' %}" charset="utf-8"></script>-->
  <!--<script type='text/javascript' src="{% static 'angular-loading-bar/src/loading-bar.js' %}"></script>-->


  <script type="text/javascript" src="https://unpkg.com/tinymce@4.5.1/tinymce.min.js"></script>
  <script type="text/javascript" src="{% static 'js/discussion-app.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/discussion-controllers.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/discussion-services.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/discussion-directives.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/discussion-filters.js' %}"></script>

  <script type="text/javascript" src="https://unpkg.com/angular-ui-tinymce@0.0.17/dist/tinymce.min.js"></script>
  <script type="text/javascript" src="{% static 'js/ui.tinymce.config.js' %}"></script>
  <script type="text/javascript" src="https://unpkg.com/ng-file-upload@12.0.4/dist/ng-file-upload.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/ui-select@0.19.4/dist/select.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/angular-scroll@1.0.2/angular-scroll.min.js"></script>

  <script type="text/javascript">
        tinyMCE.baseURL = 'https://unpkg.com/tinymce@4.5.1/';
  </script>
</head>
<body {% if in_admin %}id="admin"{% else %}id="notadmin"{% endif %}
      {% spaceless %}{% block body_attrs %}ng-app{% endblock %}{% endspaceless %}
      class="{% if user.is_authenticated %}logged{% else %}anonymous{% endif %}">

{% block content %}
<h1>missing content block</h1>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascript %}
{% endblock %}
</body>
</html>



