{% extends 'base_forum.html' %}
{% load i18n %}
{% load staticfiles %}

{% block javascript %}
    {{ block.super }}
{% endblock %}

{% block body_attrs %}
  ng-app="discussion"
{% endblock %}

{% block content %}

<ng-view></ng-view>

{% verbatim %}
<script type="text/ng-template" id="forum.html">
    <section class="forums forums-page forums-widget widget container-fluid" ng-cloak>
        <div class="widget-topbar filters" ng-show="filters.categories.length + filters.tags.length > 0">
            <div class="row filters-header">
                <div class="col-4 col-sm-3">
                    categorias
                </div>
                <div class="col-4 col-sm-6">
                    tags
                </div>
                <div class="col-4 col-sm-3">
                    ações
                </div>
            </div>
            <div class="row filters-options">
                <div class="col-4 col-sm-3">
                    <a ng-click="forumFilter('rem','cat',category)"
                       class="category"
                       ng-repeat="category in filters.categories track by $index"><span>{{category.name}} <b>&times;</b></span></a>
                </div>
                <div class="col-4 col-sm-6">
                    <a ng-click="forumFilter('rem','tag',tag)"
                       class="tag"
                       ng-repeat="tag in filters.tags track by $index"><span>#{{tag.name}} <b>&times;</b></span></a>
                </div>
                <div class="col-4 col-sm-3" ng-show="forum_search">
                    <button class="btn btn-primary clean" ng-click="forumFilter('clear')">limpar</button>
                </div>
            </div>
        </div>

        <header ng-if="forum_single" class="widget-topbar breadcrumb">
            <div class="row">
                <h2 class="title" ng-cloak><a class="forum-header-link" href="/discussion/#!/">Fóruns</a> > {{forum.title}}</h2>
                <div class="hidden-xs pull-right">
                    <a ng-href="/discussion/#!/forum/" class="goback"><span>voltar para o fórum</span></a>
                    <a class="btn btn-sm btn-success new-topic"
                   href="/discussion/topic/new/#!/topic/new/">criar novo tópico</a>
                </div>
                <!--<div class="pull-right dropdown visible-xs">-->
                    <!--<button class="btn btn-default list-all dropdown-toggle" type="button" id="dropdownOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
                        <!--opções-->
                    <!--</button>-->
                    <!--<ul class="dropdown-menu dropdown-options" aria-labelledby="dropdownOptions">-->
                        <!--<li><a href="/discussion/topic/new/#!/topic/new/">criar novo tópico</a></li>-->
                        <!--<li><a ng-href="/discussion/#!/forum/">voltar para o fórum</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            </div>
        </header>

        <header ng-if="!forum_single" class="widget-header row">
            <div class="col-xs-12">
                <!-- <h2 class="widget-title">Fóruns</h2> -->
                <div class="col-xs-12 col-md-8 col-md-9">
                    <form class="widget-filter form-inline">
                        <input class="form-control" style="width: 100%" type="text" placeholder="Buscar nos fóruns..." ng-model="search" ng-change="resetIfBlank(search)" uib-typeahead="result for results in getResults($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" typeahead-wait-ms="500">
                    </form>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-3">
                    <a class="btn btn-success new-topic float-right"
                       href="/discussion/topic/new/#!/topic/new/">criar novo tópico</a>
                </div>
            </div>
        </header>

        <div class="user-updates row" ng-if="!forum_single && !forum_search">
            <div class="col-xs-12">
                <h3 class="section-title">últimas postagens</h3>
            </div>

            <div class="user-update col-xs-12 col-md-6" ng-repeat="topic in latest_topics">
                <div class="info">
                    <a>
                      <b>{{ topic.author.name }}</b>
                    </a> comentou no tópico <a href="/discussion/topic/#!/topic/{{ topic.id }}" class="thread-name">{{ topic.title |charLimiter:50}}</a> no fórum <a ng-href="/discussion/#!/forum/{{ topic.forum }}">{{ topic.forum_info.title }}</a>
                </div>
                <div class="actions">
                    <span class="action last-update">Última atividade <b>{{ topic.last_activity_at | dateFilter }}</b></span>
                    <span class="action liked">{{ topic.count_likes }}</span>
                    <span class="action replies" ng-class="{ 'active': topic.user_like }">{{ topic.count_replies }}</span>
                </div>
            </div>
        </div>

        <div ng-repeat="forum in forums">
            <div class="row">
                <div class="col-xs-12" ng-if="!forum_single">
                    <h3 class="section-title">
                        <a ng-href="/discussion/#!/forum/{{ forum.id }}">{{ forum.title }}</a>
                        <a ng-if="forum.topics.length > 0" ng-init="forum.show_forum=true" ng-click="forum.show_forum=!forum.show_forum">
                            <i class="text-pink fa" ng-class="forum.show_forum ? 'fa-caret-up' : 'fa-caret-down'"></i>
                        </a>
                    </h3>
                </div>
                <!-- <div class="col-xs-12" ng-show="( forum_single && !topics_loaded ) || !forums.$resolved">
                    <h3 class="section-title"><span>Carregando tópicos...</span></h3>
                </div> -->
                <div class="col-xs-12" ng-show="forum.topics.length==0 && forums.$resolved && !forum_search">
                    <p class="empty-forum">Este fórum ainda não possui nenhum tópico.</p>
                </div>
                <div class="col-xs-12" ng-show="forum.topics.length==0 && forum_search">
                    <p class="empty-forum">Nenhum resultado encontrado.</p>
                </div>

                <!-- List topics in a specific forum -->
                <div class="col-xs-12 forum-list" ng-show="forum.show_forum || forum_single" ng-if="forum.topics.length>0">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>tópico</th>
                                <th class="hidden-xs">reações</th>
                                <th>categorias</th>
                                <th>tags</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="topic in forum.topics" ng-class="{'new': topic.read !== true}">
                                <td>
                                    <a ng-href="/discussion/topic/#!/topic/{{ topic.id }}"><span class="thread-name">{{ topic.title }}</span></a>
                                    <span class="last-update">Por <a>{{topic.author.name}}</a> | Última atividade <b>{{ topic.last_activity_at | dateFilter }}</b></span>
                                </td>
                                <td class="hidden-xs">
                                    <span class="action liked small" ng-class="{ 'active': topic.user_like }">{{ topic.count_likes }}</span>
                                    <span class="action replies small">{{ topic.count_replies }}</span>
                                </td>
                                <td>
                                    <a ng-repeat="category in topic.categories"
                                          ng-click="forumFilter('add','cat',category)"
                                          class="category">{{ category.name }}</a>
                                </td>
                                <td>
                                    <div class="tags">
                                    <a ng-repeat="tag in topic.tags.slice(0,3)"
                                          ng-click="forumFilter('add','tag',tag)"
                                          class="tag">#{{ tag.name }}</a>
                                    <a ng-href="/discussion/topic/#!/topic/{{ topic.id }}"
                                        ng-show="topic.tags.length > 3"
                                        class="tag">
                                        +{{ topic.tags.length - 3 }}</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div ng-show="forum_single || forum_search" class="pagination-wrapper">

                        <!-- Small screens -->
                        <ul uib-pagination boundary-links="true" total-items="forum_topics_total" ng-model="forum.current_page" rotate="true" max-size="1" items-per-page="forum_topics_page" ng-change="pageChanged()" class="pagination pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>

                        <!-- Medium screens -->
                        <ul uib-pagination boundary-links="true" total-items="forum_topics_total" ng-model="forum.current_page" rotate="true" force-ellipses="false" max-size="5" items-per-page="forum_topics_page" ng-change="pageChanged()" class="pagination pagination-md" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="primeira" last-text="última"></ul>

                        <!-- Large screens -->
                        <ul uib-pagination boundary-links="true" total-items="forum_topics_total" ng-model="forum.current_page" rotate="true" force-ellipses="false" max-size="forum_pages_max_number" items-per-page="forum_topics_page" ng-change="pageChanged()" class="pagination pagination-lg" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="primeira" last-text="última"></ul>
                    </div>

                    <div ng-show="!forum_single && !forum_search" class="see-all-topics">
                        <a class="btn btn-sm btn-primary" ng-href="/discussion/#!/forum/{{ forum.id }}">Ver todos os tópicos deste fórum</a>
                    </div>
                </div>
                <!-- /List topics in a specific forum -->
            </div>
        </div>
    </section>
</script>
{% endverbatim %}
{% endblock %}
