<p>Olá, {{ user.name }},</p>

<p>Você está recebendo esse e-mail devido à solicitação de cancelamento de sua assinatura no plano {{ plan.name }} da campanha {{ campaign.name }}.</p>

<p>Para finalizar o processo de cancelamento, <a href="{{ request.scheme }}://{{ request.get_host }}{% url 'cancel_subscription' campaign.slug  subscription.code subscription.cancelation_token %}">clique nesse link  de confirmação</a>.</p>

<p>Se você não solicitou o cancelamento, por favor ignore este e-mail.</p>

<p>Atenciosamente,</p>

<p>Equipe UJS</p>
