<p>Olá, {{ user.name }},</p>

<p>Obrigado por assinar o plano {{ plan.name }} da campanha {{ campaign.name }}. Segue abaixo alguns dados da assinatura:</p>

<table>
    <tr>
        <td>Nome da campanha</td>
        <td>{{ campaign.name }}</td>
    </tr>
    <tr>
        <td>Nome do doador</td>
        <td>{{ user.name }}</td>
    </tr>
    <tr>
        <td>CPF</td>
        <td>{{ user.cpf }}</td>
    </tr>
    <tr>
        <td>Data de pagamento</td>
        <td>{{ date | date:"d/m" }}</td>
    </tr>
    <tr>
        <td>Valor</td>
        <td>R$ {{ subscription.value }}</td>
    </tr>
    <tr>
        <td>Código da assinatura</td>
        <td>{{ subscription.code }}</td>
    </tr>
    <tr>
        <td>Data e hora da transação</td>
        <td>{{ date | date:"d/m/Y" }}</td>
    </tr>
    <tr>
        <td>Destino da doação</td>
        <td>{{ subscription.rubric }}</td>
    </tr>
</table>

<p>Atenciosamente,</p>

<p>Equipe UJS</p>
