<p>Olá, {{ user.name }},</p>

<p>Obrigado por doar para a campanha {{ checkout.campaign.name }}. Segue abaixo alguns dados da doação:</p>

<table>
    <tr>
        <td>Nome da campanha</td>
        <td>{{ checkout.campaign.name }}</td>
    </tr>
    <tr>
        <td>Nome do doador</td>
        <td>{{ user.name }}</td>
    </tr>
    <tr>
        <td>CPF</td>
        <td>{{ user.cpf }}</td>
    </tr>
    <tr>
        <td>Valor</td>
        <td>R$ {{ checkout.value }}</td>
    </tr>
    <tr>
        <td>Código da transação</td>
        <td>{{ checkout.transaction }}</td>
    </tr>
    <tr>
        <td>Data e hora da transação</td>
        <td>{{ checkout.created_at | date:"d/m/Y às H:i" }}</td>
    </tr>
    <tr>
        <td>Destino da doação</td>
        <td>{{ checkout.rubric }}</td>
    </tr>
    {% if payment_link %}
    <tr>
        <td>Link de pagamento</td>
        <td>
            <a target="_blank" href="{{payment_link}}">
               Link para download do boleto
            </a>
        </td>
    </tr>
    {% endif %}
</table>

<p>Atenciosamente,</p>

<p>Equipe UJS</p>
