{% extends 'admin/change_list.html' %}
{% load i18n static %}

{% block date_hierarchy %}
  <div id="checkout-stats">
    <p>No período e destino selecionados há total de pagamentos de <b>R$ {{ stats.payments_total | floatformat:2 }}</b>,
      com <b>R$ {{ stats.available | floatformat:2 }}</b> já <b>DISPONÍVEIS</b>,
      um total a receber de <b>R$ {{ stats.waiting_payment  | floatformat:2 }}</b> e
      Total a repassar <b>R$ {{ stats.paid_out | floatformat:2  }}</b> </p>
  </div>
{{ block.super }}
{% endblock %}

