{% load i18n %}
<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
<form action="" method="get">
  <select name="state" onchange="document.location.href=this.value;">
    {% for choice in choices %}
        <option{% if choice.selected %} selected{% endif %}
          value="{{ choice.query_string|iriencode }}">
            {{ choice.display }}
        </option>
    {% endfor %}
  </select>
</form>
