#changelist-filter form {
  margin: 5px 0;
  padding: 0 15px 15px;
  border-bottom: 1px solid #eaeaea;
}

#changelist-filter select {
  width: 100%;
}

#checkout-stats {
  text-align: right;
  margin-right: 280px;
  padding: 8px 10px;
  margin-bottom: 5px;
  border: 1px 0 1px solid #eee;
  background: #fdeded;
  color: #666;
}
